# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next
/out

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv local files
_old

# email_templates/
email_templates/*.info
email_templates/*.body
email_templates/*.subject
email_templates/dontexist/*.info
email_templates/dontexist/*.body
email_templates/dontexist/*.subject

# local folder
local

# vercel
.vercel
config.bat
